<app-list [list]="simpleList" [(selectedItem)]="selected" class="simple-list">
  <ng-container *appListItem="let listItem">
    {{listItem}}
  </ng-container>
</app-list>
<app-list [list]="complexList" [(selectedItem)]="complexSelected" class="complex-list-container">
  <div *appListItem="let listItem" class="complex-list-item">
    <img [src]="listItem.imageUrl" />
    <div class="main-content">
      <div>{{listItem.title}}</div>
      <small>{{listItem.date}}</small>
    </div>
    <div class="rating">
      <i class="material-icons">star</i>
      {{listItem.rating}}
    </div>
    <i class="material-icons favorite" *ngIf="listItem.favorite">favorite</i>
  </div>
</app-list>